.contact
  &-section
    padding: 96px 0
  &-titleblock-wrapper
    width: 50%
    margin-left: 25%
    margin-bottom: 3.5em
    text-align: center
    a
      text-decoration: none
      color: #1FB57B
      &:hover
        text-decoration: underline
  &-titleblock
    margin-bottom: 20px
    font-weight: 400
    font-size: 34px
  &-row-wrapper
    display: flex
    justify-content: space-between
    .line
      display: flex
      align-items: center
      svg
        margin-right: 15px
    .left
      width: 25%
      display: flex
      flex-direction: column      
      a
        color: #7f7f7f
        text-decoration: none
        margin: 10px 0
      &-addr
        align-items: start
      &-email, &-www
        a
          color: #1FB57B
    .right
      width: 66%
