* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

body {
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #7f7f7f;
  font-family: "Roboto", Arial, sans-serif;
}

body::-moz-selection {
  color: #fff;
  background: #1FB57B;
}

body::selection {
  color: #fff;
  background: #1FB57B;
}

.header {
  padding: 40px 0;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.header::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .header-wrapper > .logo-wrapper .logo a {
  text-decoration: none;
}

.header .container .header-wrapper > .logo-wrapper .post-logo a {
  text-decoration: none;
  color: #1FB57B;
}

.header .container .header-wrapper > .logo-wrapper .post-logo a:hover {
  text-decoration: underline;
}

.header .container .header-wrapper > .logo-wrapper .logo-name {
  color: #000;
  padding: 0;
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 1px;
}

.menu-item {
  padding: 12px 15px;
}

.menu-item::first-letter {
  text-transform: capitalize;
}

.menu-item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5, h6, figure {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Playfair Display", Arial, serif;
  font-weight: 400;
  margin: 0 0 30px 0;
  letter-spacing: 1px;
}

p {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}

.post-header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item-type-post_type a:hover {
  color: #000;
}

.current-menu-item {
  outline: none;
  background: #1FB57B;
  border-radius: 28px;
}

.current-menu-item a {
  color: white;
}

.current-menu-item a:hover {
  color: #fff;
}

.hero-title {
  width: 64%;
  margin: auto;
  text-align: center;
  line-height: 1.1;
  padding: 126px 0;
  font-size: 36px;
}

.hero-title .h1 {
  margin: 0 0 30px 0;
}

.article-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (240px)[2];
      grid-template-rows: repeat(2, 240px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-bottom: 6em;
}

.article-grid-desc {
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.article-grid-desc a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.article-grid-desc h3 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  margin-bottom: 10px;
}

.article-grid-thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-grid-item {
  float: left;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.article-grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
}

.article-grid-item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 2 / 5;
}

.teal {
  background: linear-gradient(45deg, #1fb57b 0%, #258dc8 100%);
  width: 100%;
  padding: 96px 0;
}

.teal .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.why-wrapper {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 3.5em;
  text-align: center;
}

.why-title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
  letter-spacing: 1px;
}

.why-text {
  color: rgba(255, 255, 255, 0.7);
}

.why-cards-wrapper {
  width: 100%;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-card {
  width: 33.33%;
}

.why-card-title {
  color: #fff;
  font-size: 24px;
  margin-top: 15px;
}

.why-card-text {
  color: rgba(255, 255, 255, 0.7);
}

.why-card-icon {
  height: 90px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.why-card-icon-container {
  position: relative;
  display: block;
  margin: auto;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.blog-section-wrapper {
  background-color: rgba(45, 64, 89, 0.06);
  padding-bottom: 96px;
  padding-top: 6em;
}

.blog-section-wrapper h2 {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 34px;
  padding-bottom: 96px;
}

.blog-section-wrapper ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.blog-section-wrapper .blog-post-item {
  background-color: #fff;
  margin: 0 25px;
  border-radius: 4px;
  margin-bottom: 15px;
  overflow: hidden;
  text-align: center;
}

.blog-section-wrapper .blog-post-item a {
  text-decoration: none;
}

.blog-section-wrapper .blog-post-item h4 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.1;
}

.blog-section-wrapper .blog-post-title {
  padding: 20px 20px 0;
}

.blog-section-wrapper .blog-post-text {
  padding: 0 20px;
}

.blog-section-wrapper .blog-post-more {
  font-size: 16px;
  margin-bottom: 50px;
  display: inline-block;
  border: 2px solid #1FB57B;
  color: #1FB57B;
  text-align: center;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.blog-section-wrapper .blog-post-more:focus, .blog-section-wrapper .blog-post-more:hover {
  color: #ffffff;
  background-image: url("../images/arrow-right-thick.svg");
  background-color: #1FB57B;
  padding-right: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.reviews-wrapper {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 3.5em;
  text-align: center;
  padding-top: 80px;
}

.reviews-title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
}

.reviews-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.reviews-section-item {
  background-color: rgba(45, 64, 89, 0.06);
  margin: 0 25px;
  border-radius: 4px;
  margin-bottom: 15px;
  overflow: hidden;
  text-align: center;
  width: 48%;
  padding: 0px 40px 50px 40px;
  position: relative;
  border-radius: 4px;
  margin-bottom: 96px;
}

.reviews-section-item .why-card-icon-container {
  position: relative;
  display: block;
  margin: auto;
  border: 2px solid #fff;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 30px;
}

.reviews-section-author {
  font-size: 17.5px;
}

.reviews-section-text p {
  font-size: 20px;
  line-height: 1.6em;
  color: #999999;
  font-family: "Playfair Display", Arial, serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.post-picture {
  padding-right: 25px;
}

.post-picture-thumb {
  margin-right: 25px;
  -webkit-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 40px;
}

.post-wrapper-content {
  width: 75%;
  padding: 0 15px;
}

.post-wrapper-sideline {
  padding: 0 30px 30px 30px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.post-side-menu {
  margin: 0 0 30px 26px;
  list-style: none;
  list-style-image: url("../images/check.svg");
}

.post-side-menu .menu-item {
  margin: 0;
  padding: 5px 0;
}

.post-side-menu .menu-item a {
  padding-left: 15px;
}

h1 {
  margin: 96px 0px 68px 0px;
  font-size: 34px;
  text-align: center;
  line-height: 1;
}

.h2 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Playfair Display", Arial, serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 30px 0;
  letter-spacing: 1px;
}

.pic-in-text {
  float: left;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 96px;
}

.about-left {
  width: 66%;
  padding: 0 16px;
}

.about-right {
  width: 33%;
  padding: 0 15px;
}

.about-right-text-wrapper {
  padding: 0 15px 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.about-menu {
  padding-left: 15px;
}

.blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}

.contact-section {
  padding: 96px 0;
}

.contact-titleblock-wrapper {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 3.5em;
  text-align: center;
}

.contact-titleblock-wrapper a {
  text-decoration: none;
  color: #1FB57B;
}

.contact-titleblock-wrapper a:hover {
  text-decoration: underline;
}

.contact-titleblock {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 34px;
}

.contact-row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-row-wrapper .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-row-wrapper .line svg {
  margin-right: 15px;
}

.contact-row-wrapper .left {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-row-wrapper .left a {
  color: #7f7f7f;
  text-decoration: none;
  margin: 10px 0;
}

.contact-row-wrapper .left-addr {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contact-row-wrapper .left-email a, .contact-row-wrapper .left-www a {
  color: #1FB57B;
}

.contact-row-wrapper .right {
  width: 66%;
}

.footer_menu {
  background-color: #262626;
  padding: 112px 0;
}

.footer_menu h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.footer_menu .row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_menu .row-wrapper ul {
  list-style: none;
}

.footer_menu .row-wrapper ul li {
  padding: 0;
  margin: 0 0 10px 0;
}

.footer_menu .row-wrapper ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.footer_menu .row-wrapper ul a:hover {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.footer_menu .row-wrapper ul a svg {
  fill: rgba(255, 255, 255, 0.4);
}

.footer_menu .row-wrapper ul a svg:hover {
  fill: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.footer_menu .row-wrapper .about {
  width: 23%;
  margin-right: 120px;
}

.footer_menu .row-wrapper .portfolio {
  width: 50%;
}

.footer_menu .row-wrapper .portfolio .footer-menu-wrapper .footer-menu {
  margin: 0;
}

.footer_menu .row-wrapper .social {
  width: 16.67%;
}

.footer_menu .row-wrapper .social-wrapper {
  margin: 0;
}

.bottom {
  width: 30%;
  margin: auto;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
}
